*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

li,
a{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
img {
    width: 5.8rem;
    height: 2rem;
}

.line {
    width: 1px;
    height: 50px;
    background-color: #fff;
    margin-left: 63px;
  }

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    height: 6.3rem;
    padding: 31px 83px;
}


.grow-bar{
    flex-grow: 1;

}

.grow-list {
    flex-grow: 1;
}

  
.line {
    width: 1px;
    height: 50px;
    background-color: #fff;
    margin-left: 63px;
}
  
.list {
    display: flex;
    align-items: center;
    gap: 63px;
    list-style: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-left: 64px;
}
  
.logo,
.list-item {
    cursor: pointer;
}
  
.btn {
    padding: 7px 28px;
    background: #ba0cc5;
    border-radius: 6px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.hero{
    background-image: url("../assets/bg.png");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
  
.heading-text {
    max-width: 846px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    text-align: center;
    color: #ffffff;
    padding-top: 172px;
}
  
.description-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
}
  
.btn-2 {
    background-color: #ba0cc5;
    border-radius: 11px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 45px;
    color: #ffffff;
    border: none;
    padding: 14px 22px;
    margin-top: 64px;
}

button{
    cursor: pointer;
}

button:hover{
    background-color: #fff;
    color: #ba0cc5;
}